@import "_config.scss";

header {

  img {
    position: absolute;
    margin: 170px;
    left: 100px; top: 30px;
    border-radius: 50%;
    zoom:0.08;
    -moz-transform:scale(0.08);
    -moz-transform-origin: 0 0;
  }

  .tag {
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    color: $black;
    margin: 20px;
    top: 5px; left: 100px;
  }

  .containernav {
    position: absolute;
    margin: 20px;
    right: 10px;
    top: 5px;
    width: auto;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}

.homePage {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  color: $black;
  font-size: 40px;
  text-align: center;
  top: 100px;
}

.contactPage {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  color: $black;
  font-size: 40px;
  text-align: center;
  top: 100px;
}

.aboutPage {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  color: $black;
  font-size: 40px;
  text-align: center;
  top: 100px;
}

.words {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  color: $black;
  font-size: 20px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  top: 100px;
}
