@import "_config.scss";

header {
  .icon {
    position: absolute;
    margin: 170px;
    left: 100px; top: 30px;
    border-radius: 50%;
    zoom:0.08;
    -moz-transform:scale(0.08);
    -moz-transform-origin: 0 0;
  }

  .tag {
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    color: $black;
    margin: 20px;
    top: 5px; left: 100px;
  }

  .containernav {
    position: absolute;
    margin: 20px;
    right: 10px;
    top: 5px;
    width: auto;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}

.homePage {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  color: $black;
  font-size: 40px;
  text-align: center;
  top: 100px;
}

.contactPage {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  color: $black;
  font-size: 40px;
  text-align: center;
  top: 100px;
}

.aboutPage {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  color: $black;
  font-size: 40px;
  text-align: center;
  top: 100px;
}

.words {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  color: $black;
  font-size: 20px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  top: 100px;
}



.slider {
  margin-top: 120px;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 1000px;
  height: auto;

  position: inherit;
}
.slide1,.slide2,.slide3 {
  position: absolute;
  width: 100%;
  height: 70%;
}
.slide1 {
  background: url(/images/p3.jpg)no-repeat center;
      background-size: contain;
    animation:fade 8s infinite;
-webkit-animation:fade 16s infinite;

}
.slide2 {
  background: url(/images/p4.jpg)no-repeat center;
      background-size: contain;
    animation:fade2 8s infinite;
-webkit-animation:fade2 16s infinite;
}
.slide3 {
    background: url(/images/p5.jpg)no-repeat center;
      background-size: contain;
    animation:fade3 8s infinite;
-webkit-animation:fade3 16s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
